/*
FFBE0B amarillo
FB5607 naranjo
136F63 verde oscuro
8338EC azul morado
3A86FF celeste
d500f9
*/
html{
    font-family: 'Raleway', sans-serif;
}
a{
    text-decoration: none;
    color: #d500f9;
}
a:hover{
    opacity: 0.8;

}

.title{
    text-transform: uppercase;
    text-align: center;
}
.container{
    background: #FB5607;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f4791f, #136F63);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f4791f, #8338EC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 20px 10px black;
}
.content{
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background-color: white;
    border-radius: 4px;
    position: relative;
    box-shadow: 6px 5px 10px black;
    padding: 1.8em;
    overflow-y: scroll ;
}
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}

.close{
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #8338EC ;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0 , 0, 0, 0.23);
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.paragraph{
    line-height: 1.6em;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    
}
.fa-star{
    color: #FFBE0B;
}
thead{
    background-color: #136F63;
}
table{
    width: 100%;
    border-spacing: 0;
}
table td, table th{
    padding: 1em;
    text-align: left;
}
table tr:nth-child(even){
    background-color: #75a1e7bb;
}
.title-item{
    /*border-bottom-style: solid;
    border-width: 2px;
    border-color: #c6426e;*/
    border-bottom:#FB5607 solid 2px ;
    padding-bottom: 1em;
    padding-left: 5px;
    font-size: 2em;
    
}
.position{
    background-color: #FB5607;
    color: white;
    padding: 0.5em ;
    border-radius: 4px;
    margin-right: 0.5em;
}

.address{
    font-weight: bold;
    color:#8338EC ;
    font-size: 1.2em;
    margin-top: 2em;
    display: inline-block;
}
.imagen{
    max-width: 100%;
    height: 250px;
    float: left;
    margin-right: 1em;
}
@media(max-width:600px){
    .content{
        padding: 1em;
    }
    td{
        display: block;
        width: 100%;
    }
    td:nth-of-type(1){
        font-size: 2em;
        font-weight: bold;
        color: #8338EC;
    }
    th{
        display: none;
    }
}
@media(min-height:550px){
    .content{
        height: 500px;
    }
}

